body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.navbar {
  background: #1e293b;
  padding: 12px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: #cbd5e1;
  margin-right: 15px;
  text-decoration: none;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.page {
  padding: 30px;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.btn {
  padding: 8px 16px;
  margin-top: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 4px;
}

.red {
  background: #dc2626 !important;
}

.btn-small {
  padding: 4px 8px;
  font-size: 13px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, 
.table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.login-container {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #0f172a, #1e293b, #334155);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-card {
  width: 100%;
  max-width: 380px;
  background: #ffffff;
  padding: 35px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  animation: fadeUp 0.4s ease;
}
.logo {
  font-weight: bold;
  margin-right: 40px; 
  font-size: 18px;
}


@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  } 
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-title {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  color: #0f172a;
  margin-bottom: 25px;
}

.login-card label {
  display: block;
  font-size: 14px;
  color: #475569;
  margin-bottom: 8px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  background: #f8fafc;
  transition: 0.2s;
  margin-bottom: 15px;
}

.login-card input:focus {
  border-color: #3b82f6;
  outline: none;
  background: #fff;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.3);
}

.btn-login {
  width: 100%;
  padding: 12px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 10px;
}

.btn-login:hover {
  background: #1d4ed8;
}

.error-text {
  color: #dc2626;
  margin-bottom: 8px;
  font-size: 14px;
  text-align: center;
}
